*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f4f7;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2rem;
  text-align: center;
  color: #000;
}